body {
    background-color: rgb(236, 236, 236);
  }
  #nContainer {
    width: 90vw;
  }

  #ntitle {
    font-family: sans-serif;
    text-align: center;
    font-size: 0.8rem;
  }

  #nsortcategory {
    display: flex;
    justify-content: flex-end;
  }
  #nwholedivnsort {
  
    border: 0.1rem solid black;
    padding: 0.5rem;
    margin:1rem;
    border-radius: 0.3rem;
  }
  #nsort {
   
    border: none;
    background-color: rgb(236, 236, 236);
    padding-right: 2rem;
    outline:0px;
  }

  #mobiledatacont {
    
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 0.625rem;
   
  }

  #nimage {
    height: 15rem;
    width: 12rem;
  }
  #nimage:hover {
    height: 15.5rem;
    width: 12.5rem;
    cursor: pointer;
   
  }
  #nimagediv {
    height: 16rem;
    width: 13rem;
    box-sizing: border-box;
   
  }

  #nparadiv {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 12rem;
    display: grid;
    text-align: left;
    line-height: 150%;
    padding: 0.5rem;
  }

  #nrating {
    position: absolute;
  }
  #nratingdiv {
    display: flex;
  }
  .nchecked {
    color: green;
    position: relative;
    top: 0.25rem;
    left: 4.8rem;
  }
  #nbrand,
  #nprice {
    font-weight: bold;
  }
  #ntitle {
    font-size: 0.9rem;
  }

  #ndatacont{
    display: flex;
    justify-content: space-between;
  }

  #nsidebar{
    width:20.75rem;
    margin:1rem;
   background: #ffffff
  }

  #npath{
    font-size:0.8rem;
    font-family: sans-serif;
    padding:0.5rem;
       margin:0.5rem;
       cursor:pointer;
  }

  #nfilterdiv{
    display: flex;
    justify-content: space-between;
      padding:0.5rem;
       margin:0.5rem;
  }
  #nfilterdiv>div:first-child{
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    cursor:pointer;
     
  }
  #nfilterdiv>div:last-child{
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color:#da1c5c;
    cursor:pointer;
    
  }

#ndipartment{
line-height: 250%; 
}


#ndipartment>div:first-child{
     font-size: 1rem;
     font-family: 'Quicksand', sans-serif;
     font-weight:bold;  
      padding:0.5rem;
       margin:0.5rem;
       cursor:pointer;
   
}
#ndipartment>div:last-child{
     display: inline;
     font-size: 0.8rem;
     font-family: 'Quicksand', sans-serif;
      border-radius: 10px;
      border:0.1rem solid black;
      padding:0.5rem;
      margin:0.5rem;
      cursor:pointer;
    
}

@media all and (min-width:600px) and (max-width:900px)
   {
      #mobiledatacont
     {
       
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0.625rem;
   
    }
   }

     @media all and (min-width:50px) and (max-width:600px)
   {
    #mobiledatacont
     {
       
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 0.625rem;
   
   
    }
   }

.nthings{
display:flex;
justify-content: space-between;
padding:0.5rem;
margin:0.5rem;
cursor:pointer;
}
.nthings>div:first-child{
     font-size: 1rem;
     font-family: 'Quicksand', sans-serif;
     font-weight:bold; 
     cursor:pointer;
}